__pycache__/
*.py[cod]
.env
.data/
.local_documents/
.local_data/
.local_data/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
.mypy_cache/
.venv/
*.egg-info/
build/
dist/
*.whl
.idea/
.vscode/
.DS_Store
.streamlit/secrets.toml
